# Editor
.vscode/

# Python Virtualenv
.venv/
venv/

# Python compiled
*.py[cod]
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Mypy
.mypy_cache

# Arduino
build/

# ML
*.avi
*.zip
output_data*/

# Documentation
site/

# Logging
logs/*.log

# Profiling
profiling.prof

# Misc
misc/

# notebooks (temporary)
notebooks/
# scripts
scripts/

# interesting logs
interesting_logs/ 

# work-space files
.code-workspace

# MISC log files and tests
results_history.txt
swingup_test.py
q_learning_results.txt
q_learning_plot.py
plot_results.txt
nonevenly_spaced_bins.py